.full-container{
    background-color: #002333;
    height:110vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    display: flex;
    background-color: #002333;
    color: #002333;
    font-family: 'Arial', sans-serif;
}

.inner-container{
    display: flex;
    margin-left: 275px;
    height: 600px;
    /* background:white; */
}



h4{
    color: #002333;
  }

img{
    /* width: 100%;
    height: 100%; */
    width: 550px;
    opacity: ease;  
    margin-top: 20px;
    height: 600px;
    /* border-radius: 5px; */
}
  
  
/* .image-container{
    width: 650px;
    height: 600px;
    /* background-color: green; */
    /* color: green; *
  } */
  
  .login-container {
    background-color: #B1C1FC;
    padding: 20px;
    /* border-radius: 8px; */
    width: 400px;
    /* margin : 10px ; */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    margin-top: 20px;
    height: 600px;
    /* margin-left: 550px; */
    /* background-color: rgba(222, 239, 231, 0.8); Add a semi-transparent white background for the login form */

  
  }
  
  h2 {
    color: #002333;
    margin-left: 135px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
    color: #002333;
  }
  
  input,
  select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dee7ef;
    border-radius: 4px;
    height: 37px;
    margin-top: 0px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    background-color: #dee7ef;
    color: #002333;
    border: 2px solid #333;    
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    border-color: #002333;
  }
  
  button:hover {
    background-color: #002333;
    color: #dee7ef;
  }
  
  .error-message {
    color: #ff4d4f;
    margin-top: 5px;
  }
  
  .sign-up-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .sign-up-link a {
    color: #002333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sign-up-link a:hover {
    text-decoration: underline;
  }