.categories{
   
    height: 25vh;
     /* padding: 8px;  */
     border-radius: 3rem;
    justify-self: center;
    width: fit-content;
    
}

.media-element{
    display: grid;
    width: fit-content;
    margin:15rem;
    background-color: #002333;
    border-radius: 3rem;
}

.categories-text{
    text-align: center;
    color: aliceblue;
}

.media-scroller{
   
    /* 
   
    border: 2px dotted; */
    /* width: 85vw; */
    /* padding: 3px;
    margin: 1px; */
    gap:var(--size-3);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    
}