.profilecontainer{
    flex: 1;

    margin: 25px;
    /* background-color: white; */

}

/* body{
    background-color: white;
} */

.mydiv{
    color: #002333;
}

.mydiv:hover {
    border: 2px solid #002333; /* Add your preferred highlight style */
  }