.sidebar{
    width:175px;
    background-color: #002333;
}

.maincontainer{
    flex: 1;
}

.bigcontainer{
    display: flex;
}

.pendingordercontainer{
    margin-left: 25px;
}

h6{
    color: white;
}
hr{
    color: white;
    width: 140px;
}

a{
    text-decoration: none;
}

.myH6 :{
    background-color: '#beefe7';
}

a:hover{
    text-decoration: underline;
}